[user]
	name = nicholaschiasson
	email = nicholasomerchiasson@gmail.com
[core]
	editor = hx
	pager = delta
[pull]
	rebase = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[merge]
	conflictStyle = zdiff3
[credential]
	helper = store
[safe]
	directory = *
